main {
    margin: 1rem;
}

a {
    text-decoration: none;
}

#bg {
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    display: block;
    position: fixed;
    z-index: -1;
}
