[Unit]
Description=my personal admin web application

[Service]
WorkingDirectory=/home/ian/dashboard/server
ExecStart=/usr/bin/node --watch /home/ian/dashboard/server/server.js

[Install]
WantedBy=multi-user.target
